.confirmButton {
    padding: 12px 30px;
    background-color: #430ba4;
    color: #ffffff;
    border-radius: 7px;
    transition: all 0.1s linear;
    border: 2px solid black;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 700;
}

.confirmButton:hover {
    color: #071a7a;
    background-color: white;
    border: 2px solid #071a7a;
}

.showMoreContainer {
    max-width: 400px;
    padding: 0 30px;
    background-color: #430ba4;
    color: #ffffff;
    border-radius: 7px;
    transition: all 0.1s linear;
    border: 2px solid black;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.showMoreContainer:hover {
    color: #071a7a;
    background-color: white;
    border: 2px solid #071a7a;
}