.header {
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 99;
    box-shadow: rgba(166, 166, 166, 0.4) 0px 8px 24px;
    /*border: 1px solid red;*/
    padding: 5px 10px;
    height: 50px;
    display: flex;

}

.logoLinkContainer {
    line-height: 0;
}

.headerLinkLogin {
    display: none;
}

.headerLinkSignup {
    display: none;
}

.section {
    /*border: 1px solid green;*/
    padding: 0px 25px;
}

.title {
    font-size: 1.7rem;
    text-align: center;
    padding: 30px 0;
}

.headerTwo {
    font-size: 1.3rem;
    text-align: center;
    margin: 30px 0 15px 0;
}

.loginContainer {
    display: flex;
    justify-content: space-evenly;
    padding: 40px 0;
}

.login {
    text-decoration: none;
    font-weight: 700;
    padding: 10px 15px;
    color: white;
    background-color: #510bdc;
    border-radius: 10px;
    text-align: center;
    transition: 0.5s;
}

.login:hover {
    background-color: #220062;
}

.signup {
    width: 104px;
    border: 1px solid #510bdc;
    text-decoration: none;
    font-weight: 700;
    padding: 10px 15px;
    color: #510bdc;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    transition: 0.5s;
}

.signup:hover {
    color: #220062;
    border: 1px solid #220062;
}

.card {
    border: 1px solid #676767;
    background-color: rgb(244, 242, 250);
    border-radius: 20px;
    padding: 15px;
    margin: 30px 0;
}

.suggestionContainer {
    display: block;
    margin: 60px 0;
}

.footer {
    border-top: 1px solid darkgray;
}

.credits {
    font-style: italic;
    color: darkgray;
    text-align: center;
}

@media (min-width: 481px) {

    .header {
        align-items: center;
        justify-content: space-between;
    }

    .headerLoginContainer {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .headerLinkLogin {
        display: block;
        text-decoration: none;
        font-weight: 700;
        padding: 10px;
        color: white;
        background-color: #510bdc;
        border-radius: 10px;
        text-align: center;
        font-size: 0.85rem;
        margin-right: 10px;
        transition: 0.5s;
    }

    .headerLinkLogin:hover {
        background-color: #220062;
    }

    .headerLinkSignup {
        display: block;
        width: 88px;
        border: 1px solid #510bdc;
        text-decoration: none;
        font-weight: 700;
        padding: 10px;
        color: #510bdc;
        background-color: white;
        border-radius: 10px;
        text-align: center;
        font-size: 0.85rem;
        transition: 0.5s;
    }

    .headerLinkSignup:hover {
        color: #220062;
        border: 1px solid #220062;
    }
    .loginContainer {
        max-width: 600px;
        margin: 0 auto;
    }


}

@media (min-width: 769px) {
    .main {
        font-size: 1.2rem;
    }

    .section {
        max-width: 1000px;
        margin: 0 auto;
    }




}

@media (min-width: 1280px) {

    .headerLinkLogin, .headerLinkSignup {
        margin-right: 25px;
        font-size: 0.9rem;
    }

    .login, .signup {
        font-size: 1.1rem;
    }

}