.textWrapper {
    box-sizing: border-box;
    border: 3px solid #510bdc;
    width: 100%;
    background-color: white;
    color: black;
    padding: 25px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.textWrapper h1 {
    margin-top: 0;
}