.links {
    font-size: 1.1rem;
    text-transform: capitalize;
    padding: 1rem;
    color: #d3d3d3;
    transition: all 0.1s linear;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    display: flex;
}

.links span {
    margin-right: 10px;
}

.links:hover {
    color: #ffffff;
    padding-left: 1.75rem;
}

.mainLinkContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainLinkContainer button {
    background: transparent;
    left: 1rem;
    top: 1rem;
    border-color: transparent;
    cursor: pointer;
    z-index: 3;
}

.mainLinkContainer span {
    font-size: 2rem;
    color: white;
}

.wrapper {
    /*border: 1px solid red;*/
}

.sublinksContainer {
    display: flex;
    flex-direction: column;
    /*border: 1px solid green;*/
    background-color: #32067f
}

.containerOpen {
    display: flex;
}

.containerClosed {
    display: none;
}

.sublinks {
    display: block;
    font-size: 0.8rem;
    padding: 0.65rem 1.5rem;
    color: #d3d3d3;
    transition: all 0.1s linear;
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
}

.sublinks:hover {
    color: #ffffff;
    padding-left: 1.75rem;
}